// grid columns
@grid-columns: 12;

// containers max-widths
@container-xs-max: 556px;
@container-sm-max: 746px;
@container-md-max: 972px;
@container-lg-max: 1180px;
@container-xl-max: 1180px;

// containers padding
@container-xs-padding: 0;
@container-sm-padding: 0;
@container-md-padding: 0 10px;
@container-lg-padding: 0 20px;
@container-xl-padding: 0;

// grid breakpoints
@screen-xs-max: 576px;
@screen-sm-min: (@screen-xs-max + 1);
@screen-sm-max: 768px;
@screen-md-min: (@screen-sm-max + 1);
@screen-md-max: 992px;
@screen-lg-min: (@screen-md-max + 1);
@screen-lg-max: 1200px;
@screen-xl-min: (@screen-lg-max + 1);

// extra padding on column
@column-padding: 5px;

// generate grid
.grid(@resolution) {
	.container(@resolution); // container max-width
	.columns(@resolution, @grid-columns); // columns width & offsets
	.visibility(@resolution); // block hides
	.paddings(@resolution); // extra column paddings
}

// generate max-width for container
.container(@resolution) {
	// generate max-width
	.container {
		max-width: ~"@{container-@{resolution}-max}";
		margin: auto;
		padding: ~"@{container-@{resolution}-padding}";
	}
}

// generate columns for particular resolution
.columns(@resolution; @columns; @index: 1) when (@index =< @columns) {
	// iterate
	.columns(@resolution; @columns; (@index + 1));

	// generate the width
	.col-@{resolution}-@{index} {
		width: percentage(@index / @columns);
	}

	// generate the offset
	.offset-@{resolution}-@{index} {
		margin-left: percentage(@index / @columns) !important;
	}
}

// generate classes to hide block on particular resolution
.visibility(@resolution) {
	// generate hide
	.@{resolution}-hidden {
		display: none;
		//visibility: hidden !important;
		//opacity: 0 !important;
	}
}

// generate extra paddings
.paddings(@resolution) {
	//generate padding
	.@{resolution}-pad-t {
		padding-top: @column-padding;
	}
	.@{resolution}-pad-r {
		padding-right: @column-padding;
	}
	.@{resolution}-pad-b {
		padding-bottom: @column-padding;
	}
	.@{resolution}-pad-l {
		padding-left: @column-padding;
	}
	.@{resolution}-pad-x {
		padding-right: @column-padding;
		padding-left: @column-padding;
	}
	.@{resolution}-pad-y {
		padding-top: @column-padding;
		padding-bottom: @column-padding;
	}
}

// set clear: both on pseudo element ::after
.row {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

// row for table-cell blocks
.row-table {
	display: table;
	width: 100%;
}

// set float to all columns
[class*="col-"] {
	float: left;
	min-height: 1px;
}

// Extra small screen / phone
@media (max-width: @screen-xs-max) {
	.grid(xs);
}

// Small screen / phone
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.grid(sm);
}

// Medium screen / tablet
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.grid(md);
}

// Large screen / desktop
@media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
	.grid(lg);
}

// Extra large screen / wide desktop
@media (min-width: @screen-xl-min) {
	.grid(xl);
}