/* colors */
@grayLightMenu:				#e9f1f3;
@grayLight:					#d9e5e8;
@grayDeliveryInputs:		#c3c5c5;
@gray:						#b1b3b3;
@grayBasketNav:				#a9bbc9;
@grayDark:					#253746;
@greenLight:				#f2f7f8;
@greenLightSmart:			#ebf8fa;
@green:						#6bc9ad;
@greenDark:					#00b388;
@greenErrorOk:				#d2f6e9;
@blueLight:					#93d7e0;
@blue:						#009cb3;
@blueDark:					#337ab7;
@pink:						#eb4a65;
@white:						#ffffff;
@black:						#000000;
@orange:					#ffc439;

/* colors - socials */
@twitter:					#00aced;
@facebook:					#3b5998;
@googleplus:				#dd4b39;
@pinterest:					#cb2027;
@linkedin:					#007bb6;
@youtube:					#bb0000;
@vimeo:						#1ab7ea;
@tumblr:					#32506d;
@instagram:					#bc2a8d;
@flickr:					#ff0084;
@dribbble:					#ea4c89;
@quora:						#a82400;
@foursquare:				#0072b1;
@forrst:					#5b9a68;
@vk:						#45668e;
@wordpress:					#21759b;
@stumbleupon:				#eb4823;
@yahoo:						#7b0099;
@blogger:					#fb8f3d;
@soundcloud:				#ff3a00;

/* Custom colors */
@grayDarker:                #383c3f;
@grayDarker-right:          #202020;
@grayDarker-left:			#4e5356;
@lightBlack:				#4a4f53;
@lightBlackGray:			#838383;
@purple:					#8e839d;
@darkPurple:				#27212c;
@lightPurple:				#5b0fa1;
@lighterPink:				#dd5ca7;
@quotePurple:				#a493b5;
@quotePurpleBorder:			#473e51;
@arrowBox:					#bc3183;
@roseGold:					#dfd6ca;
@articleTitle:				#1793aa;
@articleText:				#6d6d6d;
@xboxGreen:					#2abd2a;
@darkerGreen:				#3da73d;
@menuShadow:				#045461;
@limeGreenDark:				#91e842;
@limeGreenLight:			#d2ff52;
@nhlHeader:					#242424;

@blueDarker:				#2a333e;
@blueLIghter:				#5d707c;
@menuActive:				#3b444b;

// Gray light
@whiteGray:					#f7f7f7;
@whiteDarkGray:				#e8e8e8;
@menuBottomGray:			#d4d4d4;

// Mert template colors
@azure:						#19BB9B;
@azureLight:				#73D4C0;
@azureNewsletter:			#6EC2AC;
@global-text:				#4B4848;
@collection:				#E6EDFD;
@collection-info:			#2C2C2C;
@filter-border:				#D8D8D8;
@map:						#282B2F;

/* Fonts and size */
@imagePath: '../images/';

