<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Form contact</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/css/style.min.css" />
</head>
<body>


<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

{block contact}
	<div class="container">
		<div class="row contact-form-wrapper">
			<div class="contact">
				{control contactForm}
			</div>
		</div>
	</div>
{/block}
</div>


</body>
</html>