.menu-wrapper {
	margin: 20px 0;
	padding: 50px 0;
	width: 100%;
	text-align: center;
	background-color: @gray;
	a {
		padding: 15px 20px;
		font-family: Arial;
		text-decoration: none;
		color: #ffffff;
		background-color: @collection-info;
		border: 1px solid #ffffff;
		border-radius: 5px;
		-webkit-transition: all 0.5s ease 0s;
		-o-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
		&:hover {
			border: 1px solid rgb(218, 218, 218);
			-webkit-box-shadow: 0 0 3px 1px @black;
			        box-shadow: 0 0 3px 1px @black;
		}
	}
}
.contact-form-wrapper {
	display: table;
	width: 100%;
	padding: 20px;
	.contact {

		.input-field {
			width: 300px;
			margin: 5px 0;
			padding: 10px;
			font-size: 14px;
			border: 1px solid gray;
		}
		.button {
			padding: 15px 20px;
			font-size: 14px;
			border: 0;
		}
	}
}