<html>
    <head>
        <title>{$title}</title>
    </head>

    <body>
        <ul>
            <li>
                <strong>Jméno:</strong> {$values['name']}
            </li>
            <li>
                <strong>Příjmení:</strong> {$values['lastName']}
            </li>
            <li>
                <strong>Email:</strong> {$values['email']}
            </li>
            <li>
                <strong>Datum:</strong> {$values['date']}
            </li>
        </ul>
    </body>
</html>